 

// Bootstrap 
@import "~bootstrap/scss/bootstrap";

@import '~@fortawesome/fontawesome-free/scss/brands';
@import '~@fortawesome/fontawesome-free/scss/regular';
@import '~@fortawesome/fontawesome-free/scss/solid';
@import '~@fortawesome/fontawesome-free/scss/fontawesome';

@import '~owl.carousel/src/scss/owl.carousel.scss'; 
@import '~owl.carousel/src/scss/owl.theme.default.scss'; 

// Variables
@import 'app_variables';

@font-face {
    font-family: icomoon;
    src: url('/fonts/icomoon.ttf');
}

@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@import url('https://fonts.googleapis.com/css?family=Signika');

html, body {
    background-color: #fff;
    color: $main-font-color-theme !important;
    font: normal 14px/1.4 $main-font-family !important;
    font-weight: 200;
    height: 100vh;
    margin: 0; 

} 
.navbar {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}
.img-logo{
	position: relative;
	max-width: 260px;
	-webkit-transition: 0.5s all ease-in-out;
	-moz-transition: 0.5s all ease-in-out;
	-o-transition: 0.5s all ease-in-out;
	transition: 0.5s all ease-in-out;
}
b, strong {
    font-weight: bold;
}
ul{
	&.list-actions{
		padding-left: 0px;
	}
}
main{
	padding-top: 100px;
    position: relative;
}
header{
	&#top-header{
		padding-bottom: 3px;
		border-bottom:1px solid #cecece;
		position: fixed;
	    width: 100%;
	    background: white;
	    z-index: 100;
	    &.header-collapse{ 
			padding-bottom:0px;
			box-shadow: 1px 0px 6px 3px #0000002e;
			#screen_menu_header_collapse{
				display: inline-block;
			}
	    	ul{
	    		&.list-actions{
	    			>li{
	    				&:nth-child(2) {
						    margin-left: 2px; 
						}
	    				>a{
	    					&.business-tag{
	    						margin-right: 0px;
	    						padding:0px 3px;
	    						i{
	    							position: relative;
	    							&.fa-whatsapp{
	    								&:before{
	    									position: absolute;
										    top: -4px;
										    left: -3px;
	    								}
	    							}
	    						}
		    					>span{
		    						display: none;
		    					}
	    					}
	    				}
	    			}
	    		}
	    	}
	    	.img-logo{
	    		max-width: 150px;
	    	}
	    }
	}
	&#top-header-responsive{
	    display: none;
	    width: 100%;
	    margin-bottom: 20px;
	    position: fixed;
	    top: 0;
	    left: 0;
	    z-index: 9;
	    align-items: center;
	    background: white;
	    padding-bottom: 4px;
	    padding-top: 4px;
	    box-shadow: 0px 2px 18px 0px #a2a2a2;
	    .btn-search{
	    	position: absolute;
		    top: -20px;
		    right: 52px;
		    font-size: 1.6rem;
		    color: #51a011;
	    }
	}
	&#top-header{
		>div{
			&.row{
				>div{
					&:nth-child(1){
						text-align: left;
					}
					&:nth-child(2){
						text-align: center;
					}
					&:nth-child(3){
						text-align: right;
					}
				} 
			}
		}
	}
}  
.list-actions{
	margin-top: 10px;
	list-style: none;
	li{
		display: inline;
	    -webkit-transition: all 0.3s cubic-bezier(0.65, -0.01, 0.26, 1);
	    -moz-transition: all 0.3s cubic-bezier(0.65, -0.01, 0.26, 1);
	    -o-transition: all 0.3s cubic-bezier(0.65, -0.01, 0.26, 1);
	    transition: all 0.3s cubic-bezier(0.65, -0.01, 0.26, 1);
		>a{
		    text-decoration: none;
		    color: inherit;
		} 
		&.whatsapp{
			margin-left: 10px;
			color:green;
			font-size: 18px;
		}
	}
	i{ 
	    border-radius: 50%;
	    padding: 5px 6px;
	}
}   
.vertical-center {
	min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
	min-height: 100vh; /* These two lines are counted as one :-)       */
	display: flex;
	align-items: center;
}
.vcenter {
    display: inline-block;
    vertical-align: middle;
    float: none;
}
.vertical-align { 
    align-items: center;
}
@media (min-width: $breakpoint-tablet) {
	.vertical-align {
	    display: flex;
	    align-items: center;
	}
}
input{
	&.home-search{
		border-radius: 2rem;
	} 
}
ul.list-categories{
	margin-top: 10px;
	margin-bottom: 4px;
 	position: relative;
 	padding-left: 0px;
 	a{
 		text-decoration: none;
 	}
 	>li{
		display: inline-block;
		text-transform: uppercase;
 		>ul{
  			list-style: none;
  			-webkit-transform: scaleY(0);
  			-moz-transform: scaleY(0);
  			-ms-transform: scaleY(0);
  			-o-transform: scaleY(0);
  			transform: scaleY(0);
		    -webkit-transform-origin: top;
		    -moz-transform-origin: top;
		    -ms-transform-origin: top;
		    -o-transform-origin: top;
		    transform-origin: top;
		    -webkit-transition: all 0.3s cubic-bezier(0.65, -0.01, 0.26, 1);
		    -moz-transition: all 0.3s cubic-bezier(0.65, -0.01, 0.26, 1);
		    -o-transition: all 0.3s cubic-bezier(0.65, -0.01, 0.26, 1);
		    transition: all 0.3s cubic-bezier(0.65, -0.01, 0.26, 1);
		    opacity: 0;
		   	z-index: 9;
		    position: absolute;
		    display: block; 
		    box-shadow: 3px 3px 8px 1px rgba(0,0,0,0.1);
			padding: 5px 0px;
			>li{
				padding: 1px 10px;
    			background: white;
				-webkit-transition: all .2s ease; 
				-moz-transition: all .2s ease; 
				-o-transition: all .2s ease; 
				transition: all .2s ease; 
		    	text-transform: uppercase;
				border-bottom: 1px solid #e6e6e6; 
				&:before{ 
					@extend %fa-icon;
					@extend .fa; 
				}
				&:hover{
					background: #bcff91;
    				color: #626b6f;
				}
			}
 		}
 		label{
            padding: 5px 10px; 
			margin-bottom: 0px;
			width:100%;
 		}
 		&:hover{
 			>ul{
	  			-webkit-transform:scaleY(1);
	  			-moz-transform:scaleY(1);
	  			-ms-transform:scaleY(1);
	  			-o-transform:scaleY(1);
	  			transform:scaleY(1);
	  			opacity:1;
	  			visibility:visible;
 			}
 		}
 		>a{
 			>label{
 				border:1px solid #e0e0e0;
				cursor: pointer;
				background: white;
 			}
 		}
		>label{
			border:1px solid #e0e0e0;
			cursor: pointer;
			background: white;
		}
 	}
 	li{
        font-size: 15px; 
        font-weight: lighter;
 		a{
      		color: inherit;
 		}
 		>a{
            font-size: 15px; 
            font-weight: lighter;
 			cursor: pointer; 
	 		>label{
	        	cursor: pointer;
				margin-bottom: 0px;
				width:100%; 
	 		}
 		}
 	}
}      


#header-owl-carousel {
	position: relative;
	height: 400px;
	margin-bottom: 40px;
	
	div:not(.owl-dots):not(.owl-controls){
		height: 100%;
	}
	
	.owl-slide { 
		background-repeat: no-repeat;
		background-size: cover;
		background-position: center;
	}
	
	div.owl--text {
		position: absolute;
		bottom: 4em;
		left: 2em;
		width: 20em;
		height: 8em;
		padding: 1em;
		background: rgba(255, 255, 255, .5);
		border-radius: 4px;
	}
	
	.owl-controls {
		position: absolute;
		top: 50%;
		left: 0;
		right: 0;
		
		.owl-buttons {
			div {
				position: absolute;
				top: 0;
				bottom: 0;
				display: inline-block;
				zoom: 1;
				margin: 0;
				width: 50px;
				height: 30px;
				line-height: 25px;
				text-align: center;
				font-size: .9em;
				border-radius: 3px;
				color: #FFF;
				background: #000;
				opacity: .6;
				text-transform: capitalize;
			}
			
			.owl-prev {
				left: 5px;
			}
			
			.owl-next {
				right: 5px;
			}
		}
	}
}
.top-products{
	width: 100%;
	position: relative;
	list-style: none;
	display: flex;
    flex-wrap: wrap;
    margin-top: 10px;
    padding-left: 0px;
	>li{
		width: 25%;
		position: relative;
		display: inline-block;
		text-align: center;

	    padding: .5rem;
	    margin-bottom: 1rem;
	    overflow: hidden;
	    padding-bottom: 55px;
	}
	a{
		color:inherit;
		text-decoration: none;
		&:active{
			color:inherit;
			text-decoration: none;
		}
		&:visited{
			color:inherit;
			text-decoration: none;
		}
		&:hover{
			color:inherit;
			text-decoration: none;
		}
		&:link{
			color:inherit;
			text-decoration: none;
		}
	}
	.card-product{
		.price{
			position: relative;
			>label{
				margin-top: 5px;
				margin-bottom: 5px;
			}
			&:nth-child(1){
				>label{ 
					&:nth-child(2){
						position: absolute;
					    top: -12px;
					    right: 20px;
					    text-decoration: line-through;
					    color: red;
					}
				}
			}
			&:nth-child(2){
				>label{ 
					&:nth-child(2){
						position: absolute;
					    top: -12px;
					    right: 3px;
					    text-decoration: line-through;
					    color: red;
					}
				}
			}
		}
	}
}
.footer_corp{
    font-size: 0.75rem;
    text-align: center;
    width: 100%;
    border-top: 1px solid #eaeaea;
    padding-top: 12px;
}
@mixin drop_list_style() {
    list-style: none;
    padding: 0;
    margin: 0;
} 
#cc_footer{
    margin:50px 2px;
    >ul{
	    display: flex;
	    justify-content: space-between; 
    	>li{
		    text-align: left;
		    border-bottom: none;
    	}
    }
    ul{
    	@include drop_list_style;
    }
    li{
    	@include drop_list_style;
    }
    .fab{
		font-size: 1.5rem;
		color: $main-font-color-theme ;
    }
    a{
    	color: inherit;
    }
}  
.card-body2{
    flex: 1 1 auto;
    padding: 0.25rem;
    background: #f5f5f5;
    font-weight: bold;
    font-style: italic;
    font-size: 0.8rem;
    color: #989898;
}
.card{
	border:none !important;
}
.category-state{
    margin-top: 10px;
    margin-bottom: 10px;
	a{
		color: inherit;
	}
}

input, textarea {
    background-color: transparent;
    display: inline-block;
    font-size: .85rem;
    line-height: 1.42857143;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
    vertical-align: middle;
    white-space: nowrap;
    border-radius: 2rem;
    padding: 10px 16px;
    border: 1px solid #ccc;
    height: 38px;
}
input:focus, textarea:focus {
    border: 1px solid #7b7a7a;
    background: #f5f5f5a8;
    -webkit-appearance: none;
}
select:focus, select:active, button:focus, button:active, input:focus, input:active {
    outline: none !important;
    -moz-outline-style: none !important;
}

a:focus, a:active, a:hover, button:focus, button:active, button:hover, input:focus, input:active, input:hover, textarea:focus, textarea:active, textarea:hover {
    outline: none;
}

:focus {
    outline: none;
}
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}
.list-top-right-actions{
	align-items: center;
    position: relative;
    display: inline-flex;
    width: 100%;
	>div{
		&#input-search-container{
			position: relative;
			display: inline-block;
			width: 86%;
			.btn-close{
				display: none;
			}
			>div{
				&#input-search{
					input{
						&[name=global_search]{
							padding-right: 34px;
						}
					}
				}
			}
		}
	}
	#basket_products{
		position: absolute;
	    top: 0;
	    right: 0;  
	}
} 

.price_local{
	font-size: 1.5rem;
	>span{
		text-decoration: line-through;
		margin-left: 5px;
		color:red;
		font-size: 1rem;
	}
}
.price_foreign{
	font-size: 1rem;
	>span{
		text-decoration: line-through;
		margin-left: 5px;
		color:red;
	}
}
#selected_products{
	ul{
		list-style: none;
		padding-left: 0px; 
	} 
	a{
		color: #6b6b6b;
		font-family: $main-font-family;
		&.active{
			font-weight: bold;
			color:#11a07b;
		}
	}
	.items{
	    background: #fff8e2;
	    box-shadow: 0px 1px 4px 0px #feca2d;
	    border: 1px solid #fdc92d;
	    padding: 1px 4px;
		ul{ 
			li{
				border-bottom: 1px solid #c3c3c3;
	    		padding: 11px 0px;
			}
		} 
	}
}
.selected_products_detail{
	.p-body{
		img{
			position: absolute;
			display: block;
			width: 65px;
			z-index: 1;
			border-radius: 6px;
    		border: 1px solid #d0d0d0;
		}
		.p-detail{
			position: relative;
			margin-left: 75px;
			padding-left: 10px;
		}
	}
	.p-options{
		z-index: 10;
		margin-top: 20px;
	}
}
#menu_overlay{
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    display: block;
    visibility: hidden;
    opacity: 0;
    -webkit-transition: 0.5s all ease-in-out; 
    -moz-transition: 0.5s all ease-in-out; 
    -o-transition: 0.5s all ease-in-out; 
    transition: 0.5s all ease-in-out; 
    background: black;
    z-index: 50;	 
}
#website-content{
	position: relative;
	top: 0;
	left: 0;
	display: block;
    -webkit-transition: 0.5s all ease-in-out;
    -moz-transition: 0.5s all ease-in-out;
    -o-transition: 0.5s all ease-in-out;
    transition: 0.5s all ease-in-out;
    #menu_responsive_header{
    	display: none;
    }
}
#open_menu_responsive{
    font-size: 35px; 
    visibility: hidden; 
    background: white;
    z-index: 10;
}
.cc-center{
	align-items: center;
    text-align: center;
}
.cc-right{
	align-items: right;
    text-align: right;
}
.cc-left{
	align-items: left;
    text-align: left;
}
#menu_responsive_header{
	visibility: hidden;
	opacity: 0;
	display: block;
    -webkit-transition: 0.5s all ease-in-out;
    -moz-transition: 0.5s all ease-in-out;
    -o-transition: 0.5s all ease-in-out;
    transition: 0.5s all ease-in-out;
	a{
		&.business-tag{
			.btn{
				font-size: 25px; 
				.fa-whatsapp{
					margin-right: 25px;
					color:$main-font-color-theme;
				}
			}
			.fa-whatsapp{
				font-size: 17px;
			}
		}
	}
	#close-menu-responsive{ 
	    font-size: 14px;
	    color: #9c9c9c;
	    border-radius: 50%;
	    border: 2px solid #aaff73;
	    display: inline-block;
	    padding: 0px 6px;
	    position: absolute;
	    right: 9px;
	    top: -10px;
	}
}
a{
	&.business-tag{
		font-family: $main-font-family;
		color:$main-font-color-theme;
		margin-right: 10px;
    	padding: 0px 7px;
		&:hover{
			color:$main-font-color-theme;
		}
		&:active{
			color:$main-font-color-theme;
		}
		&:visited{
			color:$main-font-color-theme;
		}
	}
}
.align-right{
	text-align: right;
}
#recognition-search{
	position: absolute;
    top: 0px;
    right: 0px;
}

.swal2-container{
	z-index: 3000 !important;
}
#screen_menu_header_collapse{
	display: none;
	box-shadow: 1px 1px 4px 0px #bfbfbf;
    border-radius: 2px;
    cursor: pointer;
}
#menu_container{
	&.header-collapse{
		position: fixed;
	    width: auto;
	    z-index: 99; 
	    background: #ffffff;
    	box-shadow: 0px 1px 7px 0px #54545461;
    	border: 1px solid #cccccc;
	    top:-500px;
	    padding:0px 10px;
		-webkit-transition: 0.5s all ease-in-out;
		-moz-transition: 0.5s all ease-in-out;
		-o-transition: 0.5s all ease-in-out;
		transition: 0.5s all ease-in-out; 

	}
}
.header-collapse-visible{ 
	#menu_container{
		&.header-collapse{ 
		    top: 64px; 
		}
	}
}


#shopping_cart_empty{
	font-size: 2rem;
    text-align: center;
    background: #f3f3f3;
    border: 1px solid #e0e0e0;
    >div{
    	display: inline-block;
   	 	padding: 10px 2px;
    	span{
	    	font-size: 1.5rem;
	    }
    }
}
#loading_shopping_cart{
	display: none;
}
body{
	&.loading_shopping_cart_visible{
		overflow: hidden;
		#loading_shopping_cart{ 
		    position: fixed; 
		    width: 100%;
		    z-index: 120;
		    height: 100vh;
		    background: #ffffff85;
		    display: block;
		    >div{
		    	display: inline-block;
			    margin: auto;
			    left: 50%;
			    position: absolute;
			    top: 50%;
			    transform: translate(-50%,-50%);
			    padding: 10px 20px;
		    }

		}
	}
}
.title20{
	margin-top: 25px;
	margin-bottom: 20px;
}
@media (max-width: 995px){ 
	.container {
	 	max-width: 95% !important;
	} 
	.top-products{
		>li{
			width: 33.3333%;
		}
	}
} 
@media(max-width: 900px){
	.cart-nav{
		.tab-form-header{
			>div{
				&:nth-child(1){
					font-size: 14px;
				}
			}
		} 
		.nav-link{
	    	padding: 5px;
		} 
	}
}
@media (max-width: 781px){ 
	.container {
	 	max-width: 100% !important;
	}
	.top-products{
		>li{
			width: 50%;
		}
	}
} 
@media (max-width: 767px){ 
	#website-content{
		margin-top: 60px;
	}
	main{
		padding-top: 0px;
	}
	header{
		&#top-header{
			display: none;
		}
		&#top-header-responsive{
			display: block;
			-webkit-transform: translate(0, 0);
			-moz-transform: translate(0, 0);
			-ms-transform: translate(0, 0);
			-o-transform: translate(0, 0);
			transform: translate(0, 0);
			-webkit-transition: 0.5s all ease-in-out;
			-moz-transition: 0.5s all ease-in-out;
			-o-transition: 0.5s all ease-in-out;
			transition: 0.5s all ease-in-out;
		}
	}
	.img-logo{
		max-width: 155px;
	} 
	#open_menu_responsive{
		visibility: visible;
	}
	#menu_responsive_container{
		position: fixed;
	    top: 0;
	    left: 0;
	    -webkit-transform: translate(-100%, 0);
	    -moz-transform: translate(-100%, 0);
	    -ms-transform: translate(-100%, 0);
	    -o-transform: translate(-100%, 0);
	    transform: translate(-100%, 0);
	    visibility: hidden;
	    z-index: 100;
	    -webkit-transition: 0.5s all ease-in-out;
	    -moz-transition: 0.5s all ease-in-out;
	    -o-transition: 0.5s all ease-in-out;
	    transition: 0.5s all ease-in-out;
 		width: 84%;
  		height: 100vh;
		background: white; 
		opacity: 0;
		box-shadow: 1px -1px 10px 0px #23232338;
    	border-right: 1px solid #cacaca;
		>nav{ 
			width: 100%;
			height: auto;
			ul{
				&.list-categories{ 
					width: 100%;
				    >li{ 
						display: block;  
					    background: white; 
					    >ul{
					    	padding-bottom: 0px;
    						padding-top: 0px;
					    }
					    &:hover{ 
					   		border: 1px solid #aaff73;
				    		>label{
				    			background: #daffc4;
				    		} 
					    }
				    }
				}	
			}
		}
		.img-logo{
			width: 100%;
			position: relative;
		}
	} 
	body{ 
		&.menu-open{ 
			overflow: hidden;
			&.modal-open{
				#menu_responsive_container{
					width: 100%;
				}
			}
			#open_menu_responsive{ 
			}
			#menu_responsive_header{
				visibility: visible;
				opacity: 1;
				margin-bottom: 10px;
			}
			header#top-header-responsive{
				-webkit-transform: translate(35%, 0);
				-moz-transform: translate(35%, 0);
				-ms-transform: translate(35%, 0);
				-o-transform: translate(35%, 0);
    			transform: translate(35%, 0);
			}
			#website-content{
				-webkit-transform: translate(35%, 0);
				-moz-transform: translate(35%, 0);
				-ms-transform: translate(35%, 0);
				-o-transform: translate(35%, 0)
			}
			#menu_responsive_container{
		 		-webkit-transform: translate(0, 0);
		 		-moz-transform: translate(0, 0);
		 		-ms-transform: translate(0, 0);
		 		-o-transform: translate(0, 0);
			    transform: translate(0, 0);
			    visibility: visible;
				opacity: 1;
				ul{
					&.list-categories{  
					 	margin-top: 0px;
					    height: calc(100vh - 100px);
					    overflow-y: auto;
					    flex: 1;
					}	
					>li{
				 		&:hover{
				 			>ul{
				 				position: relative;
				 				>li{ 
				 				}
				 			}
				 		}
				 		>ul{
					  		width: 100%; 
			 				>li{
			 					position: relative;
			 					display: block;
					    		padding:1px 22px;
			 					&:before{ 
			 				 		content: fa-content($fa-var-arrow-right);
								    position: absolute; 
								    -webkit-transform: translate(50%, 50%);
								    -moz-transform: translate(50%, 50%);
								    -ms-transform: translate(50%, 50%);
								    -o-transform: translate(50%, 50%);
								    transform: translate(50%, 50%);
								    font-weight: bold;

								    top: 6px;
								    left: 8px;  
								    color: #85de4c;
								    font-size: 10px;
			 					}
			 				}
				 		} 
					}
				}
			}
			#menu_overlay{ 
				opacity: 0.5;
			    visibility: visible; 
			    width: 100%;
			}
		}
		#input-search{
			position: fixed;
		    top: -200px;
		    left: 0;
		    width: 100%;
		    display: block;
		    z-index: 101;
		    padding: 14px 10px;
		    background: white;
		    -webkit-transition: 0.5s all ease-in-out;
		    -moz-transition: 0.5s all ease-in-out;
		    -o-transition: 0.5s all ease-in-out;
		    transition: 0.5s all ease-in-out;
		    >input{
		    	padding-right: 66px;
    			padding-left: 34px;
		    }
		    #recognition-search{
		    	right: 12px;
    			top: 14px;
		    }
		    .btn-close{
		    	position: absolute;
			    left: 10px;
			    top: 15px;
			    color:red;
		    }
		}
		&.search-responsive{
			#input-search{
				top:0;
			}

		}
	} 
} 
@media (max-width: 659px){
	 #cc_footer{
	 	>ul{
	 		display: block;
   	 		width: 100%;
   	 		>li{
   	 			margin-bottom: 20px;
			    border-top: 1px solid #e8e8e8;
			    padding-top: 20px;
	   	  	}
	 	}
	 }
}

@media (max-width: 632px){ 
	#menu_responsive_container{ 
		width: 82%;
		a{
			&.business-tag{
				>span{
					display: none;
				}
			}
		}
		.business-tag-floating{
			position: absolute;
		    top: -9px;
		    left: 10px;
		    width: auto;
		    font-size: 17px;
			a{
				&.business-tag{ 
					position: absolute;
					&:nth-child(1){

					}
					&:nth-child(2){
						margin-left: 40px;
					}
					>i{
						&.fa-whatsapp{
							font-size: 20px;
						}
					}
				}
			}

		}
	}
}
