<template>
	<ul>
        <li class="icon-cart" @click='go_to_basket'> 
            <span basket="count">{{sum}}</span>
        </li>
    </ul>
</template>
<script type="text/javascript">

let storage_drive = process.env.MIX_VUE_APP_CLIENT_STORAGE_DRIVE=='local' ? localStorage:sessionStorage;

	export default{
        data(){
            return { 
                sum:0,
            }
        },
        mounted(){ 
            let products = storage_drive.getItem(process.env.MIX_VUE_APP_SHOPPING_CART_SESSION_STORAGE_NAME);
            if(!products){
                products = {};
            }else{
                products = JSON.parse(products);
            }
            let _sum = 0;
            for(let k in products){
                _sum += products[k];
            } 
            this.sum = _sum;
        },
        methods:{ 
        	go_to_basket(){
                console.log("go to basket");
                let _prods = storage_drive.getItem(process.env.MIX_VUE_APP_SHOPPING_CART_SESSION_STORAGE_NAME); 
        		window.setCookie(process.env.MIX_VUE_APP_SHOPPING_CART_COOKIE_NAME,_prods,1);
        		window.location.assign('/shopping-cart');
        	},
        },
        watch:{

        },
        props:{ 
        },
    }
</script>
<style type="text/css" lang="scss" scoped>  
ul{
    width: auto;
    position: relative;
    display: inline-block;
    list-style: none;
    align-items: center;
    margin-bottom: 0px;
    padding-left: 0px;
    li{
        cursor: pointer;
        &.icon-cart{
            font-family: icomoon;
            font-size: 30px;
            &:before{
                content:'\e900';
            }
            [basket=count]{
                background-color: #48a000;
                color: #FFFFFF;
                font-size: .75rem;
                font-weight: 600;
                line-height: 1;
                padding: .25rem;
                border-radius: 50px;
                display: inline-block;
                min-width: 20px;
                text-align: center;
                position: absolute;
                top: -4px;
                right: -6px;
                bottom: 14px;
                left: 15px;
                width: 20px;
                height: 20px;
            }
        }
    }
}
@media(max-width: 767px){
    ul{ 
        position: absolute;
        right: 14px;
        top: -15px;
    }
}
</style>