<template>
	<div>
        <div class="btn" @click="add_to_cart">
            <i class="fa fa-shopping-cart"></i>
            <span>{{add_text}}</span>
        </div>
        <div class="btn" @click="buy">
            <i class="fa fa-money-bill-alt"></i>
            <span>{{buy_text}}</span>
        </div>
    </div>
</template>
<script type="text/javascript">
global.jQuery = require("jquery");

let storage_drive = process.env.MIX_VUE_APP_CLIENT_STORAGE_DRIVE=='local' ? localStorage:sessionStorage;

export default{
    data(){
        return {
            add_text:'Agregar',
            buy_text:'Comprar',
        }
    },
    mounted(){

    },
    methods:{
        add_to_cart(){
            let products = storage_drive.getItem(process.env.MIX_VUE_APP_SHOPPING_CART_SESSION_STORAGE_NAME);
            if(!products){
                products = {};
            }else{
                products = JSON.parse(products);
            }

            let count = products[this.product_id];
            if(typeof count!='number')count = 0;
            let total = window.parseInt(jQuery('#qty').val());
            count += total;
            products[this.product_id] = count;
            let sum = 0;
            for(let k in products){
                sum += products[k];
            }
            let _prods = JSON.stringify(products);
            storage_drive.setItem('app_products',_prods);
            window.setCookie(process.env.MIX_VUE_APP_SHOPPING_CART_COOKIE_NAME,_prods,1);
            $('[basket=count]').html(sum);
        },
        buy(){
            this.add_to_cart();
            window.location.assign('/shopping-cart');
        },
    },
    watch:{

    },
    props:{
        product_id:{
            type:Number,
            default:1,
        },
    },
}
</script>
<style type="text/css" lang="scss" scoped>
	label{
        margin-bottom: 0px;
    }
    #button_actions_product{
        .btn{
            border-radius: 5px;
            &:nth-child(1){
                background: #1b6f71;
                color:white;
            }
            &:nth-child(2){
                background: #2fa054;
                color:white;
            }
            &:hover{
                cursor: pointer;
                box-shadow: 1px 2px 5px 0px #bbbbbb;
                border: 1px solid white;
            }
        }
    }
</style>