<template>
    <div class="snippets">
        <div class="btn btn-default" @click='deinc'><i class="fa fa-minus" ></i></div> 
        <input id="qty" name="qty" v-model.number.trim="quantity" type="number" class="s-result" data-number="26" value="1" data-number-min="1" maxlength="3">
        <div class="btn btn-default" @click='inc'><i class="fa fa-plus"></i></div> 
    </div>
</template>
<script type="text/javascript">
	export default{
		data(){
			return {
				quantity:1,
				min:1,
				max:100,
			}
		},
		mounted(){

		},
		methods:{
			inc(){
				if(this.quantity<this.max){
					this.quantity++;
				} 
			},
			deinc(){
				if(this.quantity>this.min){
					this.quantity--;
				} 
			},
		},
		watch:{

		}
	}
</script>
<style type="text/css" scoped lang="scss">
	.snippets{
		input{ 
		    padding: 10px 4px;
		    height: 34px;
		    width: 100%;
		    max-width: 40px;
		    text-align: center;
		    margin: 0 .5rem;
		    font-weight: 700;
		} 
	} 
</style>