<template>
    <!--
	<label>{{$product->name.', total: '.$selected_products[$product->id]}}</label>
	<br />
	{{$product->id}}
	<br />
	-->
	<li v-if="visible">
		<div class="selected_products_detail">
			<div class="p-body">
				<img :src="image_src">
				<div class="p-detail">
	    			<a :href="url">
	    				<strong>{{product_name}}</strong>
	    			</a>
	                <div>{{price_unit_local_text}}</div>
	                <div>{{price_unit_foreign_text}}</div>
				</div>
			</div>
			<div class="p-options">
			    <div class="snippets">
			        <div class="btn btn-default" @click='deinc'><i class="fa fa-minus" ></i></div> 
			        <input name="qty" v-model.number.trim="quantity" type="number" class="s-result qty" data-number="26" value="1" data-number-min="1" maxlength="3">
			        <div class="btn btn-default" @click='inc'><i class="fa fa-plus"></i></div> 
			        <div class="btn btn-danger2" @click='trash' data-toggle="tooltip" title="Remove"><i class="fa fa-trash"></i></div> 
			    	<div><strong>{{total}}</strong></div>
			    </div>
			</div>
		</div> 
	</li>
</template>
<script type="text/javascript">

import Vue from 'vue'
import VueSweetalert2 from 'vue-sweetalert2' 
Vue.use(VueSweetalert2) 

let storage_drive = process.env.MIX_VUE_APP_CLIENT_STORAGE_DRIVE=='local' ? localStorage:sessionStorage;


export default{
	data(){
		return {
			quantity:1,
			min:1,
			max:100,
			visible:true,
			total:'',
		}
	},
	mounted(){


        let products = storage_drive.getItem(process.env.MIX_VUE_APP_SHOPPING_CART_SESSION_STORAGE_NAME);
        if(!products){
            products = {};
        }else{
            products = JSON.parse(products);
        }
        let count = this.product_id in products ? products[this.product_id]: 1;
        if(typeof count!='number')count = 1;
        this.quantity = count;


		this.setTotal();
	},
	methods:{
		inc(){
			if(this.quantity<this.max){
				this.quantity++;
			}  
		},
		deinc(){
			if(this.quantity>this.min){
				this.quantity--;
			} 
		},
		trash(){ 
			let _this = this;
			this.$swal({
				title: _this.$i18n.t('remove_product'),
				text:'',
				type: 'warning',
				showCancelButton: true,
				confirmButtonText: _this.$i18n.t('remove'),
				cancelButtonText: _this.$i18n.t('cancel')
			}).then((result) => {
				if (result.value) {   

	                let products = storage_drive.getItem(process.env.MIX_VUE_APP_SHOPPING_CART_SESSION_STORAGE_NAME);
	                if(!products){
	                    products = {};
	                }else{
	                    products = JSON.parse(products);
	                } 
	                if(this.product_id in products){
	                	delete products[this.product_id];
	                }
	                let sum = 0;
	                for(let k in products){
	                    sum += products[k];
	                }
	                if(sum<=0)window.location.reload();
	                let _prods = JSON.stringify(products);
	                storage_drive.setItem('app_products',_prods);
	                $('[basket=count]').html(sum); 
	                window.setCookie(process.env.MIX_VUE_APP_SHOPPING_CART_COOKIE_NAME,_prods,1);

					_this.$swal(
					_this.$i18n.t('removed'),
					'',
					'success'
					);

					_this.visible = false; 

				} else if (result.dismiss === _this.$swal.DismissReason.cancel) {
					_this.$swal(
					_this.$i18n.t('canceled'),
					_this.$i18n.t('product_not_removed'),
					'error'
					)
				}
			});
		},
		setTotal(){
			this.total = `
				${this.currency_local} ${(this.quantity*this.price_unit_local).toFixed(2)} | 
				${this.currency_foreign} ${(this.quantity*this.price_unit_foreign).toFixed(2)} 
			`;
		},
	},
	watch:{
		'quantity':function(new_val,old_val){
			this.setTotal();
		},
	},
	computed:{ 
	},
	props:{
		url:{
			type:String,
			default:'',
		},
		image_src:{
			type:String,
			default:'',
		},
		product_name:{
			type:String,
			default:'',
		},
		price_unit_local:{
			type:Number,
			default:'',
		},
		currency_local:{
			type:String,
			default:'',
		},
		price_unit_local_text:{
			type:String,
			default:'',
		},
		price_unit_foreign:{
			type:Number,
			default:'',
		},
		currency_foreign:{
			type:String,
			default:'',
		},
		price_unit_foreign_text:{
			type:String,
			default:'',
		},
		product_id:{
			type:Number,
			default:0,
		},
		product_sku:{
			type:Number,
			default:0,
		},
	}
}
</script>
<style type="text/css" scoped lang="scss">
.snippets{
	input{ 
	    padding: 10px 4px;
	    height: 34px;
	    width: 100%;
	    max-width: 40px;
	    text-align: center;
	    margin: 0 .5rem;
	    font-weight: 700;
	    cursor: pointer;
	} 
	div{
		cursor: pointer;
		display: inline-block;
	}
} 
.btn-danger2{
	color:red;
} 
</style>