<template>
	<div id="shopping-cart-form">
		<b-tabs content-class="mt-3" nav-class="cart-nav" v-model="current_tab">
			<b-tab>
				<template slot="title">
					<div class="tab-form-header">
        				<div>
        					<font-awesome-icon icon="user"></font-awesome-icon>
        				</div>
        				<div>
        					{{$t('personal_information')}}
        				</div>
					</div>
      			</template>
				<div class="form-section">
					<h5 class="section-title">{{$t('personal_information')}}</h5>
					<hr />
					<div class="box">
						<b-form-group 
							:label="$t('document_type')+'*'"
							label-for="doc_type"  
					    >
					      	<b-form-select 
					      		id="doc_type" 
					      		v-model="personal_information.doc_type.selected" 
					      		:options="personal_information.doc_type.options"  

					      	/>
					    </b-form-group>
					</div> 
					<div class="box">
						<b-form-group 
							:label="$t('document_number')+'*'"
							label-for="num_document" 
							:invalid-feedback="personalInformationInValidFeedbackNumDocument"
							:valid-feedback="personalInformationValidFeedbackNumDocument"
							:state="personalInformationStateNumDocument" 
					    >
					      	<b-form-input 
						      	id="num_document"  
						      	name="document"
						      	v-model="personal_information.num_document" 
						      	trim 
								:state="personalInformationStateNumDocument"
								@blur="personal_information.blur.num_document=true" 
							/>
					    </b-form-group>
					</div> 
					<div class="box">
						<b-form-group 
							:label="$t('firstname')+'*'"
							label-for="firstname" 
							:invalid-feedback="personalInformationInValidFeedbackFirstname"
							:valid-feedback="personalInformationValidFeedbackFirstname"
							:state="personalInformationStateFirstname" 
					    >
					      	<b-form-input 
						      	id="firstname"  
						      	name="firstname"
						      	v-model="personal_information.firstname" 
						      	trim 
								:state="personalInformationStateFirstname"
								@blur="personal_information.blur.firstname=true" 
							/>
					    </b-form-group>
					</div> 
					<div class="box">
						<b-form-group 
							:label="$t('lastname')+'*'"
							label-for="lastname" 
							:invalid-feedback="personalInformationInValidFeedbackLastname "
							:valid-feedback="personalInformationValidFeedbackLastname "
							:state="personalInformationStateLastname " 
					    >
					      	<b-form-input 
						      	id="lastname"  
						      	name="lastname"
						      	v-model="personal_information.lastname" 
						      	trim 
								:state="personalInformationStateLastname "
								@blur="personal_information.blur.lastname=true" 
							/>
					    </b-form-group>
					</div> 
					<div class="box">
						<b-form-group 
							:label="$t('phone_number')+'*'"
							label-for="phone" 
							:invalid-feedback="personalInformationInValidFeedbackPhone "
							:valid-feedback="personalInformationValidFeedbackPhone "
							:state="personalInformationStatePhone " 
					    >
					      	<b-form-input 
						      	id="phone"  
						      	name="phone"
						      	v-model="personal_information.phone" 
						      	trim 
								:state="personalInformationStatePhone "
								@blur="personal_information.blur.phone=true" 
							/>
					    </b-form-group>
					</div> 
					<div class="box">
						<b-form-group 
							:label="$t('birthday')"
							label-for="birthday" 
					    >
					      	<date-picker 
					      		id="birthday"
					      		v-model="personal_information.birthday.date" 
					      		:config="personal_information.birthday.options"
					      		@dp-hide="birthdayHide" 
					      		@dp-change="birthdayChange"
					      		>
					      					
					      	</date-picker>
					    </b-form-group>
					</div> 
					<div class="box">
						<b-form-group 
							:label="$t('email')+'*'"
							label-for="email" 
							:invalid-feedback="personalInformationInValidFeedbackEmail "
							:valid-feedback="personalInformationValidFeedbackEmail "
							:state="personalInformationStateEmail " 
					    >
					      	<b-form-input 
						      	id="email"  
						      	name="email"
						      	v-model="personal_information.email" 
						      	trim 
								:state="personalInformationStateEmail "
								@blur="personal_information.blur.email=true" 
							/>
					    </b-form-group>
					</div> 
					<div class="footer">
						<b-btn variant="continue" @click="nextTab(0)">
							<span>{{$t('continue')}}&nbsp;</span>
							<font-awesome-icon icon="arrow-right"></font-awesome-icon>
						</b-btn>
					</div>
				</div>
			</b-tab>
			<b-tab :disabled="delivery_information.disabled">
				<template slot="title" class="tab-form-header">
					<div class="tab-form-header"> 
        				<div>
        					<font-awesome-icon icon="map-marker-alt"></font-awesome-icon>
        				</div>
        				<div>
        					{{$t('delivery_information')}}
        				</div>
					</div>
      			</template>
				<div class="form-section">
					<h5 class="section-title">{{$t('delivery_information')}}</h5>
					<hr />  
					<div class="box">
						<b-form-group 
							:label="$t('firstname')+'*'"
							label-for="firstname2" 
							:invalid-feedback="deliveryInformationInValidFeedbackFirstname"
							:valid-feedback="deliveryInformationValidFeedbackFirstname"
							:state="deliveryInformationStateFirstname" 
					    >
					      	<b-form-input 
						      	id="firstname2"  
						      	name="firstname2"
						      	v-model="delivery_information.firstname" 
						      	trim 
								:state="deliveryInformationStateFirstname"
								@blur="delivery_information.blur.firstname=true" 
							/>
					    </b-form-group>
					</div> 
					<div class="box">
						<b-form-group 
							:label="$t('lastname')+'*'"
							label-for="lastname2" 
							:invalid-feedback="deliveryInformationInValidFeedbackLastname "
							:valid-feedback="deliveryInformationValidFeedbackLastname "
							:state="deliveryInformationStateLastname " 
					    >
					      	<b-form-input 
						      	id="lastname2"  
						      	name="lastname2"
						      	v-model="delivery_information.lastname" 
						      	trim 
								:state="deliveryInformationStateLastname "
								@blur="delivery_information.blur.lastname=true" 
							/>
					    </b-form-group>
					</div> 
					<div class="box">
						<b-form-group 
							:label="$t('phone_number')+'*'"
							label-for="phone2" 
							:invalid-feedback="deliveryInformationInValidFeedbackPhone "
							:valid-feedback="deliveryInformationValidFeedbackPhone "
							:state="deliveryInformationStatePhone " 
					    >
					      	<b-form-input 
						      	id="phone2"  
						      	name="phone2"
						      	v-model="delivery_information.phone" 
						      	trim 
								:state="deliveryInformationStatePhone "
								@blur="delivery_information.blur.phone=true" 
							/>
					    </b-form-group>
					</div> 
					<div class="box" style="width:100%;">
						<b-form-group 
							:label="$t('address')+'*'"
							label-for="delivery_information_address" 
							:invalid-feedback="deliveryInformationInValidFeedbackAddress "
							:valid-feedback="deliveryInformationValidFeedbackAddress "
							:state="deliveryInformationStateAddress " 
					    > 
							<b-form-textarea
						      	id="delivery_information_address"
						      	v-model="delivery_information.address" 
						      	trim 
						      	placeholder="Enter something..."
						      	rows="3"
						      	max-rows="6"
								:state="deliveryInformationStateAddress "
								@blur="delivery_information.blur.address=true" 
						    />
					    </b-form-group>
					</div> 
					<div class="box">
						<b-form-group 
							:label="$t('delivery_date')+'*'"
							label-for="birthday" 
					    >
					      	<date-picker 
					      		id="delivery_date"
					      		v-model="delivery_information.date.date" 
					      		:config="delivery_information.date.options"
					      		@dp-hide="deliveryDateHide" 
					      		@dp-change="deliveryDateChange"
					      		>
					      					
					      	</date-picker>
					    </b-form-group>
					</div> 
					<div class="footer">
						<b-btn variant="continue"  @click="prevTab(0)">
							<font-awesome-icon icon="arrow-left"></font-awesome-icon>
							<span>{{$t('back')}}&nbsp;</span>
						</b-btn>
						<b-btn variant="continue"  @click="nextTab(1)">
							<span>{{$t('continue')}}&nbsp;</span>
							<font-awesome-icon icon="arrow-right"></font-awesome-icon>
						</b-btn>
					</div>
				</div>
				
			</b-tab>
			<!--
			<b-tab>
				<template slot="title">
					<div class="tab-form-header"> 
        				<div>
        					<font-awesome-icon icon="envelope"></font-awesome-icon>
        				</div>
        				<div>
        					{{$t('customize_order')}}
        				</div>
					</div>
      			</template>
				<div class="form-section">
					<h5 class="section-title">{{$t('customize_order')}}</h5>
					<hr />  
					<div class="box">
						<wysiwyg v-model="customize_order.message" />
					</div>
					<div class="footer">
						<b-btn variant="continue" @click="current_tab=1">
							<font-awesome-icon icon="arrow-left"></font-awesome-icon>
							<span>{{$t('back')}}&nbsp;</span>
						</b-btn>
						<b-btn variant="continue" @click="current_tab=3">
							<span>{{$t('continue')}}&nbsp;</span>
							<font-awesome-icon icon="arrow-right"></font-awesome-icon>
						</b-btn>
					</div>
				</div>
			</b-tab>
			-->
			<b-tab :disabled="payment_method.disabled">
				<template slot="title">
        			<div class="tab-form-header">
        				<div>
        					<font-awesome-icon icon="credit-card"></font-awesome-icon>
        				</div>
        				<div>
        					{{$t('payment_method')}}
        				</div>
        			</div>
      			</template>
				<div class="form-section">
					<h5 class="section-title">{{$t('payment_method')}}</h5>
					<hr />  
					<div>
						<ul class="list-payment">
							<li @click="selected_brand_card='visa'"> 
								<font-awesome-icon class="selected-brand-card"
									v-if="selected_brand_card=='visa'" 
									icon="check-circle"> 
								</font-awesome-icon>	
								<img src="/images/visanet.png"> 
							</li>
							<li @click="selected_brand_card='mastercard'"> 
								<font-awesome-icon class="selected-brand-card" 
									v-if="selected_brand_card=='mastercard'" 
									icon="check-circle"> 
								</font-awesome-icon> 
								<img src="/images/mastercard.png"> 
							</li>
							<li @click="selected_brand_card='amex'"> 
								<font-awesome-icon class="selected-brand-card" 
									v-if="selected_brand_card=='amex'" 
									icon="check-circle"> 
								</font-awesome-icon>
								<img src="/images/amex.png"> 
							</li>
							<li @click="selected_brand_card='dinersclub'"> 
								<font-awesome-icon class="selected-brand-card" 
									v-if="selected_brand_card=='dinersclub'" 
									icon="check-circle"> 
								</font-awesome-icon> 
								<img src="/images/dinersclub.png"> 
							</li>
						</ul>
					</div>
					<b-form-group :label="$t('card_type')">
				      	<b-form-radio-group 
				      		id="radios1" 
				      		v-model="payment_method.card_type.selected" 
				      		:options="payment_method.card_type.options" 
				      		name="radioOptions" 
				      	/>
				    </b-form-group>
				    <hr />
					<div class="box">
						<b-form-group 
							:label="$t('card_number')+'*'"
							label-for="card_number" 
							:invalid-feedback="paymentMethodInValidFeedbackCardNumber "
							:valid-feedback="paymentMethodValidFeedbackCardNumber "
							:state="paymentMethodStateCardNumber " 
					    >
					      	<b-form-input 
						      	id="card_number"  
						      	name="card_number"
								type="number"
						      	v-model="payment_method.card_number" 
						      	trim 
								:state="paymentMethodStateCardNumber "
								@blur="payment_method.blur.card_number=true" 
							/>
					    </b-form-group>
					</div> 
					<div class="box">
						<b-form-group 
							:label="$t('card_cvc')+'*'"
							label-for="card_cvc" 
							:invalid-feedback="paymentMethodInValidFeedbackCardCvc "
							:valid-feedback="paymentMethodValidFeedbackCardCvc "
							:state="paymentMethodStateCardCvc " 
					    >
					      	<b-form-input 
						      	id="card_cvc"  
						      	name="card_cvc"
								type="number"
						      	v-model="payment_method.card_cvc" 
						      	trim 
								:state="paymentMethodStateCardCvc "
								@blur="payment_method.blur.card_cvc=true" 
							/>
					    </b-form-group>
					</div> 
					<div class="box">
						<b-form-group 
							:label="$t('card_number_fee')+'*'"
							label-for="card_number_fee" 
							:invalid-feedback="paymentMethodInValidFeedbackCardNumberFee "
							:valid-feedback="paymentMethodValidFeedbackCardNumberFee "
							:state="paymentMethodStateCardNumberFee " 
					    >
					      	<b-form-input 
						      	id="card_number_fee"  
						      	name="card_number_fee"
						      	type="number"
						      	v-model="payment_method.card_number_fee" 
						      	trim 
								:state="paymentMethodStateCardNumberFee "
								@blur="payment_method.blur.card_number_fee=true" 
							/>
					    </b-form-group>
					</div> 
					<div class="box">
						<b-form-group 
							:label="$t('card_expiration')+'*'"
							label-for="card_expiration" 
					    >
					      	<date-picker 
					      		id="card_expiration"
					      		v-model="payment_method.card_expiration.date" 
					      		:config="payment_method.card_expiration.options"
					      		@dp-hide="cardExpirationDateHide" 
					      		@dp-change="cardExpirationDateChange"
					      		>
					      					
					      	</date-picker>
					    </b-form-group>
						<!--
						<b-form-group 
							:label="$t('card_expiration')"
							label-for="card_expiration" 
							:invalid-feedback="paymentMethodInValidFeedbackCardExpiration "
							:valid-feedback="paymentMethodValidFeedbackCardExpiration "
							:state="paymentMethodStateCardExpiration " 
					    >
					      	<b-form-input 
						      	id="card_expiration"  
						      	name="card_expiration"
						      	v-model="payment_method.card_expiration" 
						      	trim 
								:state="paymentMethodStateCardExpiration "
								@blur="payment_method.blur.card_expiration=true" 
							/>
					    </b-form-group>
						-->
					</div> 
					<div class="box">
						<b-form-group 
							:label="$t('card_owner')+'*'"
							label-for="card_owner" 
							:invalid-feedback="paymentMethodInValidFeedbackCardOwner "
							:valid-feedback="paymentMethodValidFeedbackCardOwner "
							:state="paymentMethodStateCardOwner " 
					    >
					      	<b-form-input 
						      	id="card_owner"  
						      	name="card_owner"
						      	v-model="payment_method.card_owner" 
						      	trim 
								:state="paymentMethodStateCardOwner "
								@blur="payment_method.blur.card_owner=true" 
							/>
					    </b-form-group>
					</div> 
					<div class="footer">
						
						<b-btn variant="continue"  @click="prevTab(1)">
							<font-awesome-icon icon="arrow-left"></font-awesome-icon>
							<span>{{$t('back')}}&nbsp;</span>
						</b-btn>
						<b-btn variant="continue" @click="buy">
							<span>{{$t('make_a_purchase')}}&nbsp;</span> 
						</b-btn>
					</div> 
				</div>
			</b-tab>
		</b-tabs>
		<span><strong>(*)</strong> {{$t('required')}}</span>
	</div>
</template>
<script type="text/javascript">

import Vue from 'vue'
import VueSweetalert2 from 'vue-sweetalert2' 
Vue.use(VueSweetalert2)  

import BootstrapVue from 'bootstrap-vue'

Vue.use(BootstrapVue)

import 'bootstrap/dist/css/bootstrap.css'
import 'bootstrap-vue/dist/bootstrap-vue.css'

import { library } from '@fortawesome/fontawesome-svg-core'
import { 
	faCoffee,
	faUser, 
	faMapMarkerAlt, 
	faEnvelope, 
	faCreditCard, 
	faCheckCircle, 
	faArrowRight, 
	faArrowLeft, 
} from '@fortawesome/free-solid-svg-icons'
import { FontAwesomeIcon } from '@fortawesome/vue-fontawesome'

library.add(faCoffee)
library.add(faUser)
library.add(faMapMarkerAlt)
library.add(faEnvelope)
library.add(faCreditCard)
library.add(faCheckCircle)
library.add(faArrowRight)
library.add(faArrowLeft)

Vue.component('font-awesome-icon', FontAwesomeIcon) 

import 'bootstrap/dist/css/bootstrap.css'
// Import this component
import datePicker from 'vue-bootstrap-datetimepicker' 
// Import date picker css
import 'pc-bootstrap4-datetimepicker/build/css/bootstrap-datetimepicker.css'
Vue.component('date-picker', datePicker) 

import wysiwyg from "vue-wysiwyg";
Vue.use(wysiwyg, {}); // config is optional. more below
import "vue-wysiwyg/dist/vueWysiwyg.css"; 

global.jQuery = require('jquery');

export default{ 
	data(){
		return { 
			hello:'world',
			current_tab:0,
			selected_brand_card:'',
			personal_information:{
				blur:{ 
					num_document:false,
					firstname:false,
					lastname:false,
					email:false,
					phone:false,
				},
				num_document:null, 
				firstname:null, 
				lastname:null, 
				email:null, 
				phone:null, 
				birthday:{
					date: new Date(),
			        options: {
			          	format: 'DD/MM/YYYY',
			          	useCurrent: false,
			        }    
				}, 
				doc_type:{ 
					selected:null,
					options:[
						{text:this.$i18n.t('select'),value:null}, 
						{text:'DNI',value:'DNI'},
						{text:'RUC',value:'RUC'},
						{text:this.$i18n.t('immigration_card'),value:'CE',},
						{text:this.$i18n.t('passport'),value:'PASSPORT',},
					],
				},
			},
			delivery_information:{
				disabled:true,
				blur:{  
					firstname:false,
					lastname:false, 
					phone:false,
					address:false,
				}, 
				firstname:null, 
				lastname:null,  
				phone:null, 
				address:null, 
				date:{
					date: new Date(),
			        options: {
			          	format: 'DD/MM/YYYY',
			          	useCurrent: false,
			        }    
				},  
			},
			customize_order:{
				disabled:true,
				message:'',
			},
			payment_method:{
				disabled:true,
				blur:{  
					card_owner:false, 
					card_number:false, 
					card_expiration:false, 
					card_number_fee:false, 
					card_cvc:false, 
				}, 
				card_type:{
					selected:'debit',
					options:[
						{text:this.$i18n.t('debit'),value:'debit'},
						{text:this.$i18n.t('credit'),value:'credit'},
					],
				},
				card_owner:null,
				card_number:null,
				card_expiration:{
					date: new Date(),
			        options: {
			          	format: 'MM/YYYY',
			          	useCurrent: false,
			          	viewMode: 'years',
			        }    
				},  
				card_number_fee:null,
				card_cvc:null,
			},
		}
	},
	mounted(){ 
	},
	methods:{ 
		prevTab(cur_tab){
			this.current_tab = cur_tab;
		}, 
		nextTab(cur_tab){
			let _this = this; 
			if(cur_tab==0){
				if(!this.personalInformationFilled()){
					return;
				}else{
					this.delivery_information.disabled = false;
					window.setTimeout(function(){
						_this.current_tab = 1;
					},400);
				}
			}else if(cur_tab==1){
				if(!this.deliveryLnformationFilled()){
					return;
				}else{
					this.payment_method.disabled = false;
					window.setTimeout(function(){
						_this.current_tab = 2;
					},400);
				}
			}else{

			}
		},
		personalInformationFilled(){ 
			let _tmp = this.personal_information; 
			if(_tmp.num_document===null)_tmp.num_document='';
			if(_tmp.firstname===null)_tmp.firstname='';
			if(_tmp.lastname===null)_tmp.lastname='';
			if(_tmp.email===null)_tmp.email='';
			if(_tmp.phone===null)_tmp.phone='';
			if(
				_tmp.num_document=='' || 
				_tmp.firstname=='' || 
				_tmp.lastname=='' || 
				_tmp.email=='' || 
				_tmp.phone=='' || 
				(_tmp.doc_type.selected===null || _tmp.doc_type.selected=='')
			){
				return false;
			}
			return true;
		},
		deliveryLnformationFilled(){ 
			let _tmp = this.delivery_information; 
			if(_tmp.firstname===null)_tmp.firstname='';
			if(_tmp.lastname===null)_tmp.lastname='';
			if(_tmp.phone===null)_tmp.phone='';
			if(_tmp.address===null)_tmp.address=''; 
			if( 
				_tmp.firstname=='' || 
				_tmp.lastname=='' ||  
				_tmp.phone=='' || 
				_tmp.address==''  
			){
				return false;
			}
			return true;
		},
		paymentMethodFilled(){ 
			let _tmp = this.payment_method; 
			if(_tmp.card_number===null)_tmp.card_number='';
			if(_tmp.card_number_fee===null)_tmp.card_number_fee='';
			if(_tmp.card_owner===null)_tmp.card_owner='';
			if(_tmp.card_cvc===null)_tmp.card_cvc=''; 
			if( 
				_tmp.card_number=='' || 
				_tmp.card_number_fee=='' ||  
				_tmp.card_owner=='' || 
				_tmp.card_cvc==''  
			){
				return false;
			}
			return true;
		},
		birthdayHide(){

		},
		birthdayChange(a,b){ 
		}, 
		deliveryDateHide(){

		},
		deliveryDateChange(a,b){ 
		}, 
		cardExpirationDateHide(){

		},
		cardExpirationDateChange(a,b){ 
		}, 
		validateEmail(email) {
		    var re = /^(([^<>()\[\]\\.,;:\s@"]+(\.[^<>()\[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
		    return re.test(String(email).toLowerCase());
		},
		buy(){

			let _this = this;

			if(
				_this.personalInformationFilled() && 
				_this.deliveryLnformationFilled() && 
				_this.paymentMethodFilled()
			){ 
				jQuery('body').addClass('loading_shopping_cart_visible');
				window.setTimeout(function(){
					jQuery('body').removeClass('loading_shopping_cart_visible');
				},2000);

				let my_headers = {};
				let my_params = {}; 
				my_params.personal_information = {
					num_document : _this.personal_information.num_document,
					firstname : _this.personal_information.firstname,
					lastname : _this.personal_information.lastname,
					email : _this.personal_information.email,
					phone : _this.personal_information.phone,
					birthday : _this.personal_information.birthday.date,
					doc_type : _this.personal_information.doc_type.selected,
				}; 
				my_params.delivery_information = { 
					firstname : _this.delivery_information.firstname,
					lastname : _this.delivery_information.lastname, 
					phone : _this.delivery_information.phone,
					address : _this.delivery_information.address,
					date : _this.delivery_information.date.date, 
				};  
				my_params.payment_method = {  
					card_owner : _this.payment_method.card_owner,
					card_number : _this.payment_method.card_number,
					card_number_fee : _this.payment_method.card_number_fee,
					card_cvc : _this.payment_method.card_cvc,
					card_expiration : _this.payment_method.card_expiration.date,
					card_type : _this.payment_method.card_type.selected, 
				};
				let my_options = {
						headers:my_headers,
		        	};

				_this.axios.post(
					process.env.MIX_VUE_APP_SHOPPING_CART_PROCESS_URL,
					my_params,
					my_options
	            ).then((response) => { 

				})
				.catch(function (err) {
	    			// handle error
	          		//console.log(err);
	          		//console.log(err.response); 
	 	 		}).then(function(){
	          		jQuery('body').removeClass('loading_shopping_cart_visible'); 
	 	 		});

			}else{

				this.$swal(
	              	'Fill all field required',
	              	'',
	              	'warning'
	            );
			}
		},
	},
	watch:{  
		'personal_information.blur.num_document':function(new_val,old_val){
			if(this.personal_information.num_document===null)this.personal_information.num_document = '';
		},
		'personal_information.blur.firstname':function(new_val,old_val){
			if(this.personal_information.firstname===null)this.personal_information.firstname = '';
		},
		'personal_information.blur.lastname':function(new_val,old_val){
			if(this.personal_information.lastname===null)this.personal_information.lastname = '';
		},
		'personal_information.blur.email':function(new_val,old_val){
			if(this.personal_information.email===null)this.personal_information.email = '';
		},
		'personal_information.blur.phone':function(new_val,old_val){
			if(this.personal_information.phone===null)this.personal_information.phone = '';
		},
		'delivery_information.blur.firstname':function(new_val,old_val){
			if(this.delivery_information.firstname===null)this.delivery_information.firstname = '';
		},
		'delivery_information.blur.lastname':function(new_val,old_val){
			if(this.delivery_information.lastname===null)this.delivery_information.lastname = '';
		},
		'delivery_information.blur.address':function(new_val,old_val){
			if(this.delivery_information.address===null)this.delivery_information.address = '';
		},
		'delivery_information.blur.phone':function(new_val,old_val){
			if(this.delivery_information.phone===null)this.delivery_information.phone = '';
		},
		'payment_method.blur.card_owner':function(new_val,old_val){
			if(this.payment_method.card_owner===null)this.payment_method.card_owner = '';
		},
		'payment_method.blur.card_number':function(new_val,old_val){
			if(this.payment_method.card_number===null)this.payment_method.card_number = '';
		},
		'payment_method.blur.card_number_fee':function(new_val,old_val){
			if(this.payment_method.card_number_fee===null)this.payment_method.card_number_fee = '';
		},
		'payment_method.blur.card_expiration':function(new_val,old_val){
			if(this.payment_method.card_expiration===null)this.payment_method.card_expiration = '';
		},
		'payment_method.blur.card_cvc':function(new_val,old_val){
			if(this.payment_method.card_cvc===null)this.payment_method.card_cvc = '';
		},
	},
	computed:{ 
		personalInformationStateNumDocument() {
			if(this.personal_information.num_document===null)return null;
        	return this.personal_information.num_document.length > 0 ? true : false
      	}, 
		personalInformationStateFirstname() {
			if(this.personal_information.firstname===null)return null;
        	return this.personal_information.firstname.length > 0 ? true : false
      	}, 
		personalInformationStateLastname() {
			if(this.personal_information.lastname===null)return null;
        	return this.personal_information.lastname.length > 0 ? true : false
      	}, 
		personalInformationStateEmail() {
			if(this.personal_information.email===null)return null;
        	return this.validateEmail(this.personal_information.email) ? true : false
      	}, 
		personalInformationStatePhone() {
			if(this.personal_information.phone===null)return null;
        	return this.personal_information.phone.length > 0 ? true : false
      	}, 
		deliveryInformationStateFirstname() {
			if(this.delivery_information.firstname===null)return null;
        	return this.delivery_information.firstname.length > 0 ? true : false
      	}, 
		deliveryInformationStateLastname() {
			if(this.delivery_information.lastname===null)return null;
        	return this.delivery_information.lastname.length > 0 ? true : false
      	}, 
		deliveryInformationStateAddress() {
			if(this.delivery_information.address===null)return null;
        	return this.delivery_information.address.length > 0 ? true : false
      	},  
		deliveryInformationStatePhone() {
			if(this.delivery_information.phone===null)return null;
        	return this.delivery_information.phone.length > 0 ? true : false
      	}, 
		paymentMethodStateCardOwner() {
			if(this.payment_method.card_owner===null)return null;
        	return this.payment_method.card_owner.length > 0 ? true : false
      	}, 
		paymentMethodStateCardNumber() {
			if(this.payment_method.card_number===null)return null;
        	return this.payment_method.card_number.length > 0 ? true : false
      	}, 
		paymentMethodStateCardNumberFee() {
			if(this.payment_method.card_number_fee===null)return null;
        	return this.payment_method.card_number_fee.length > 0 ? true : false
      	}, 
		paymentMethodStateCardExpiration() {
			if(this.payment_method.card_expiration===null)return null;
        	return this.payment_method.card_expiration.length > 0 ? true : false
      	}, 
		paymentMethodStateCardCvc() {
			if(this.payment_method.card_cvc===null)return null;
        	return this.payment_method.card_cvc.length > 0 ? true : false
      	}, 
		personalInformationInValidFeedbackNumDocument() {
			if(this.personal_information.num_document===null)return null;
			if (this.personal_information.num_document.length > 0) {
			  	return ''
			} else {
			  	return this.$i18n.t('please_enter_your_document_number')
			}
		},
		personalInformationInValidFeedbackFirstname() {
			if(this.personal_information.firstname===null)return null;
			if (this.personal_information.firstname.length > 0) {
			  	return ''
			} else {
			  	return this.$i18n.t('please_enter_your_firstname')
			}
		},
		personalInformationInValidFeedbackLastname() {
			if(this.personal_information.lastname===null)return null;
			if (this.personal_information.lastname.length > 0) {
			  	return ''
			} else {
			  	return this.$i18n.t('please_enter_your_lastname')
			}
		},
		personalInformationInValidFeedbackEmail() {
			if(this.personal_information.email===null)return null;
			if (this.personal_information.email.length > 0) {
			  	return ''
			} else {
			  	return this.$i18n.t('please_enter_your_email')
			}
		},
		personalInformationInValidFeedbackPhone() {
			if(this.personal_information.phone===null)return null;
			if (this.personal_information.phone.length > 0) {
			  	return ''
			} else {
			  	return this.$i18n.t('please_enter_your_phone')
			}
		}, 
		deliveryInformationInValidFeedbackFirstname() {
			if(this.delivery_information.firstname===null)return null;
			if (this.delivery_information.firstname.length > 0) {
			  	return ''
			} else {
			  	return this.$i18n.t('please_enter_your_firstname')
			}
		},
		deliveryInformationInValidFeedbackLastname() {
			if(this.delivery_information.lastname===null)return null;
			if (this.delivery_information.lastname.length > 0) {
			  	return ''
			} else {
			  	return this.$i18n.t('please_enter_your_lastname')
			}
		},
		deliveryInformationInValidFeedbackAddress() {
			if(this.delivery_information.address===null)return null;
			if (this.delivery_information.address.length > 0) {
			  	return ''
			} else {
			  	return this.$i18n.t('please_enter_your_address')
			}
		},
		deliveryInformationInValidFeedbackPhone() {
			if(this.delivery_information.phone===null)return null;
			if (this.delivery_information.phone.length > 0) {
			  	return ''
			} else {
			  	return this.$i18n.t('please_enter_your_phone')
			}
		},
		paymentMethodInValidFeedbackCardOwner() {
			if(this.payment_method.card_owner===null)return null;
			if (this.payment_method.card_owner.length > 0) {
			  	return ''
			} else {
			  	return this.$i18n.t('please_enter_your_card_owner')
			}
		},
		paymentMethodInValidFeedbackCardNumber() {
			if(this.payment_method.card_number===null)return null;
			if (this.payment_method.card_number.length > 0) {
			  	return ''
			} else {
			  	return this.$i18n.t('please_enter_your_card_number')
			}
		},
		paymentMethodInValidFeedbackCardNumberFee() {
			if(this.payment_method.card_number_fee===null)return null;
			if (this.payment_method.card_number_fee.length > 0) {
			  	return ''
			} else {
			  	return this.$i18n.t('please_enter_your_card_number_fee')
			}
		},
		paymentMethodInValidFeedbackCardExpiration() {
			if(this.payment_method.card_expiration===null)return null;
			if (this.payment_method.card_expiration.length > 0) {
			  	return ''
			} else {
			  	return this.$i18n.t('please_enter_your_card_expiration')
			}
		},
		paymentMethodInValidFeedbackCardCvc() {
			if(this.payment_method.card_cvc===null)return null;
			if (this.payment_method.card_cvc.length > 0) {
			  	return ''
			} else {
			  	return this.$i18n.t('please_enter_your_card_expiration')
			}
		},
		personalInformationValidFeedbackNumDocument() {
			if(this.personal_information.num_document===null)return '';
			return this.personalInformationStateNumDocument === true ? '' : '';
		},
		personalInformationValidFeedbackFirstname() {
			if(this.personal_information.firstname===null)return '';
			return this.personalInformationStateFirstname === true ? '' : '';
		},
		personalInformationValidFeedbackLastname() {
			if(this.personal_information.lastname===null)return '';
			return this.personalInformationStateLastname === true ? '' : '';
		},
		personalInformationValidFeedbackEmail() {
			if(this.personal_information.email===null)return '';
			return this.personalInformationStateEmail === true ? '' : '';
		},
		personalInformationValidFeedbackPhone() {
			if(this.personal_information.phone===null)return '';
			return this.personalInformationStatePhone === true ? '' : '';
		},
		deliveryInformationValidFeedbackFirstname() {
			if(this.delivery_information.firstname===null)return '';
			return this.deliveryInformationStateFirstname === true ? '' : '';
		},
		deliveryInformationValidFeedbackLastname() {
			if(this.delivery_information.lastname===null)return '';
			return this.deliveryInformationStateLastname === true ? '' : '';
		},
		deliveryInformationValidFeedbackAddress() {
			if(this.delivery_information.address===null)return '';
			return this.deliveryInformationStateAddress === true ? '' : '';
		},
		deliveryInformationValidFeedbackPhone() {
			if(this.delivery_information.phone===null)return '';
			return this.deliveryInformationStatePhone === true ? '' : '';
		},
		paymentMethodValidFeedbackCardOwner() {
			if(this.payment_method.card_owner===null)return '';
			return this.paymentMethodStateCardOwner === true ? '' : '';
		},
		paymentMethodValidFeedbackCardNumber() {
			if(this.payment_method.card_number===null)return '';
			return this.paymentMethodStateCardNumber === true ? '' : '';
		},
		paymentMethodValidFeedbackCardNumberFee() {
			if(this.payment_method.card_number_fee===null)return '';
			return this.paymentMethodStateCardNumberFee === true ? '' : '';
		},
		paymentMethodValidFeedbackCardExpiration() {
			if(this.payment_method.card_expiration===null)return '';
			return this.paymentMethodStateCardExpiration === true ? '' : '';
		},
		paymentMethodValidFeedbackCardCvc() {
			if(this.payment_method.card_cvc===null)return '';
			return this.paymentMethodStateCardCvc === true ? '' : '';
		},
	},
	props:{ 
	}
}
</script>
<style scoped lang="scss"> 
input,textarea,select{  
    line-height: 1.42857143;
    transition: all 0.3s ease;
    vertical-align: middle;
    white-space: nowrap;
    border-radius: 2rem;
    padding: 10px 16px; 
    height: 38px;
}
.tab-form-header{
	font-size: 20px;
	>div{
		display: inline-block;
		&:nth-child(1){
			display: inline-block;
		    position: relative;
		    vertical-align: top;
		}
		&:nth-child(2){
			font-size: 11px;
    		max-width: 75px;
		    position: relative;
		    display: inline-block; 
		    text-transform: uppercase;
		}
	}
}
.nav-tabs{
	.nav-link{
	    color: #999;
	    font-weight: bold;
	    background-color: #fff; 
	}
}
.form-section{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	.box{
		display: block;
		flex-direction: column;
		align-items: center;
	 	width: calc(50% - 1rem);
	    flex-grow: 1;
	    margin: auto .5rem;
	    margin-bottom: 1rem;
	    margin-top: 0px; 
	    box-sizing: border-box; 
	} 
	hr{
		width: 100%;
		position: relative;
	}
	.section-title{
		width: 100%;
		position: relative;
		&:before{
			content: "";
		    width: 45px;
		    height: 2px;
		    background: #47a07b;
		    position: absolute;
		    bottom: 0px;
		    left: 0;
		}
	}
	.footer{
		position: relative;
		width: 100%;
		display: block;
		text-align: center;
	}
}
.list-payment{
	display: flex;
	text-align: center;
	align-items: center;
	position: relative;
	li{
		width: 20%;
		position: relative;  
		img{
			position: relative;
			width: 70%;

		} 
	}
}
.selected-brand-card{
    position: absolute;
    top: 0px;
    right: 0px;
    z-index: 90;
    font-size: 28px;
    color: #a0cd43;
    border-radius: 50%;
    border: 3px solid #f1f1f1;
    box-shadow:0px 0px 5px 0px #000000c7;
}
.btn-continue{
	background: #2fa054;
    color: white;
    padding: 5px 30px;
    border-radius: 2rem;
    margin-bottom: 15px;
}
@media(max-width: 767px){
	#shopping-cart-form{
		margin-top: 20px; 
	}
	.tab-form-header{
		>div{
			&:nth-child(2){ 
    			max-width: 80px;
			}
		}
	}
}
@media(max-width: 400px){
	.tab-form-header{
		>div{
			&:nth-child(2){
				font-size: 9px;
				display: block;
    			width: auto;
    			max-width: 60px;
			}
		}
	}
}
</style>