<template> 
	<div class="btns-actions">
		<b-btn 
			:class="{'prevent_text_collapse':prevent_text_collapse}" 
			v-b-tooltip 
			:title="$t('sign_in')" 
			class="btns" 
			variant="default" 
			v-b-modal.modal_sign_in_register
			@click='form.type = 1'
		>
			<font-awesome-icon icon="user"></font-awesome-icon>
 			<span>{{$t('sign_in')}}</span>
		</b-btn>
		<b-btn 
			:class="{'prevent_text_collapse':prevent_text_collapse}" 
			v-b-tooltip 
			:title="$t('register')" 
			class="btns" 
			variant="default"
			v-b-modal.modal_sign_in_register
			@click='form.type = 2'
		>
			<font-awesome-icon icon="user-plus"></font-awesome-icon>
			<span>{{$t('register')}}</span>
		</b-btn>
		<b-modal 
			id="modal_sign_in_register" 
			size="sm" 
			ref="modal_sign_in_register" 
			:hide-footer="true"
			:hide-header-close="false"
			> 
			<div v-show='false' v-bind:csrf-token='csrf_token'></div>
			<div class='form1'> 
		  		<div>
		  			<facebook-login class="button fb-login"
				      :appId="fb_app_id"
				      :version="fb_app_version"
				      data-button-type="login_with"
				      data-size='large'
				      @login="fbLogin"
				      @logout="fbLogout"
				      @get-initial-status="fbGetUserData"
				      :loginLabel='$t("login_with_facebook")'
				      >
				    </facebook-login>
				    <div class='abcRioButtonLightBlue'> 	
					    <google-login class='abcRioButtonContentWrapper'
					    	:client_id="google_client_id" 
					    	:onSuccess="onGoogleSuccess" 
					    	:onFailure="onGoogleFailure">
					    		
					    	<div class="abcRioButtonIcon" style="padding:8px">
					    		<div 
					    			style="width:18px;height:18px;margin-top: -3px;" 
					    			class="abcRioButtonSvgImageWithFallback abcRioButtonIconImage abcRioButtonIconImage18">
					    				<svg 
					    					version="1.1" 
					    					xmlns="http://www.w3.org/2000/svg" 
					    					width="18px" 
					    					height="18px" 
					    					viewBox="0 0 48 48" 
					    					class="abcRioButtonSvg">
					    					<g>
					    						<path 
					    							fill="#EA4335" 
					    							d="M24 9.5c3.54 0 6.71 1.22 9.21 3.6l6.85-6.85C35.9 2.38 30.47 0 24 0 14.62 0 6.51 5.38 2.56 13.22l7.98 6.19C12.43 13.72 17.74 9.5 24 9.5z">
					    						</path>
												<path 
													fill="#4285F4" 
													d="M46.98 24.55c0-1.57-.15-3.09-.38-4.55H24v9.02h12.94c-.58 2.96-2.26 5.48-4.78 7.18l7.73 6c4.51-4.18 7.09-10.36 7.09-17.65z">
												</path>
												<path 
													fill="#FBBC05" 
													d="M10.53 28.59c-.48-1.45-.76-2.99-.76-4.59s.27-3.14.76-4.59l-7.98-6.19C.92 16.46 0 20.12 0 24c0 3.88.92 7.54 2.56 10.78l7.97-6.19z">
														
												</path>
												<path 
													fill="#34A853" 
													d="M24 48c6.48 0 11.93-2.13 15.89-5.81l-7.73-6c-2.15 1.45-4.92 2.3-8.16 2.3-6.26 0-11.57-4.22-13.47-9.91l-7.98 6.19C6.51 42.62 14.62 48 24 48z">
												</path>
												<path fill="none" d="M0 0h48v48H0z">
												</path>
											</g>
										</svg>
									</div>
								</div>
					    	<div 
					    		style="font-size:13px;line-height:34px;text-align:left" 
					    		class="abcRioButtonContents">
					    		<span 
					    			id="not_signed_inwbj7he9u9zuy">
					    			{{$t('login_with_google')}}
					    		</span>
					    	</div> 
					    </google-login>
				    </div>
				    <div class='github-login-cc'>
				    	<a :href="github_oauth_url">
				    		<div class='github-login'>
					    		<img :src="github_icon">
					    		<span>{{$t('login_with_github')}}</span>
				    		</div>
				    	</a>
				    </div>
		  		</div>
		  		<div>
		  			<hr>
		  			<label>{{$t('or')}}</label>
		  		</div>
		  		<div v-if="show_form"> 

				      <b-form-group v-show="form.type==2">
				        <b-form-input 
				                      type="text"
				                      v-model.trim="form.firstname"
				                      required
				                      :placeholder="$t('firstname')"
				                      name="firstname"
				                      >
				        </b-form-input>
				      </b-form-group> 
				      <b-form-group v-show="form.type==2">
				        <b-form-input 
				                      type="text"
				                      v-model.trim="form.lastname"
				                      required
				                      :placeholder="$t('lastname')"
				                      name="lastname"
				                      >
				        </b-form-input>
				      </b-form-group>
				      <b-form-group v-show="form.type==2">
				        <b-form-input 
				                      type="text"
				                      v-model.trim="form.phone_number"
				                      required
				                      :placeholder="$t('phone_number')"
				                      name="phone"
				                      >
				        </b-form-input>
				      </b-form-group>  
				      <b-form-group>
				        <b-form-input 
				                      type="email"
				                      v-model.trim="form.email"
				                      required
				                      :placeholder="$t('email')"
				                      name="email"
				                      >
				        </b-form-input>
				      </b-form-group> 
				      <b-form-group>
				        <b-form-input 
				                      type="password"
				                      v-model.trim="form.password"
				                      required
				                      :placeholder="$t('password')"
				                      name="password"
				                      >
				        </b-form-input>
				      </b-form-group> 
				      <b-button @click='login_or_register' type="submit" variant="primary" class='form-login'>
				      	{{form.type==1 ? $t('login'):$t('register')}}
				      </b-button>  
		  		</div>
		  	</div>
		</b-modal> 
	</div> 
</template>
<script type="text/javascript">

import Vue from 'vue'
import VueSweetalert2 from 'vue-sweetalert2' 
Vue.use(VueSweetalert2)  

import BootstrapVue from 'bootstrap-vue'

Vue.use(BootstrapVue)

import 'bootstrap/dist/css/bootstrap.css'
import 'bootstrap-vue/dist/bootstrap-vue.css'

import { library } from '@fortawesome/fontawesome-svg-core'
import { 
	faCoffee, 
	faUser, 
	faUserPlus, 
	faPhone, 
} from '@fortawesome/free-solid-svg-icons'
import { FontAwesomeIcon } from '@fortawesome/vue-fontawesome'

library.add(
	faCoffee,
	faUser,
	faUserPlus,
	faPhone,
	) 

Vue.component('font-awesome-icon', FontAwesomeIcon) 

import google_icon from '../../assets/google-icon.png'
 
import GoogleLogin from 'vue-google-login';

import github_icon from '../../assets/github-icon2.png'

Vue.component('google-login',GoogleLogin); 

import facebookLogin from './facebook-login';

Vue.component('facebook-login',facebookLogin); 

import axios from 'axios' 
import VueAxios from 'vue-axios'

Vue.use(VueAxios, axios)

export default{
	data(){
		return {  
			show_form:true,
			form:{
				type:1,/*1=> sign-in, 2=> register */
				firstname:'',
				lastname:'',
				phone_number:'',
				email:'',
				password:'',
			},
			google_icon:google_icon,
			github_icon:github_icon,
			github_oauth_url:process.env.MIX_VUE_APP_GITHUB_URL_LOGIN_OAUTH_AUTHORIZE,
			google_client_id:process.env.MIX_VUE_APP_GOOGLE_APP_ID,
			fb_app_id:process.env.MIX_VUE_APP_FB_APP_ID,
			fb_app_version:process.env.MIX_VUE_APP_FB_VERSION,
			fb_app_server_url_token_validation:process.env.MIX_VUE_APP_FB_SERVER_URL_TOKEN_VALIDATION,
			login_url:process.env.MIX_VUE_APP_LOGIN_URL,
			register_url:process.env.MIX_VUE_APP_REGISTER_URL,
		}
	},
	mounted(){

	},
	methods:{ 
		notify(title,desc,type_not){
			this.$swal(
              	title,
              	desc,
              	type_not
            );
		},
		login_or_register(){ 
			let _this = this; 
			if(_this.form.type!=1){
				if(_this.form.firstname==''){
					_this.notify(
		              	_this.$i18n.t('firstname'),
		              	_this.$i18n.t('firstname_undefined'),
		              	'error'
		            );
		            return;
				}
				if(_this.form.lastname==''){
					_this.notify(
		              	_this.$i18n.t('lastname'),
		              	_this.$i18n.t('lastname_undefined'),
		              	'error'
		            );
		            return;
				}
				if(_this.form.phone_number==''){
					_this.notify(
		              	_this.$i18n.t('phone_number'),
		              	_this.$i18n.t('phone_number_undefined'),
		              	'error'
		            );
		            return;
				} 
			}
			if(_this.form.email==''){
				_this.notify(
	              	_this.$i18n.t('email'),
	              	_this.$i18n.t('email_undefined'),
	              	'error'
	            );
	            return;
			}
			if(_this.form.password==''){
				_this.notify(
	              	_this.$i18n.t('password'),
	              	_this.$i18n.t('password_undefined'),
	              	'error'
	            );
	            return;
			}


			let my_headers = {};
			let my_params = {};
			let my_options = {
					headers:my_headers,
            	};
			let my_url = _this.form.type==1 ? _this.login_url : _this.register_url;
			if(_this.form.type==1){
				my_params.email 	= _this.form.email;
				my_params.password 	= _this.form.password;
			}else{
				my_params.firstname 	= _this.form.firstname;
				my_params.lastname 		= _this.form.lastname;
				my_params.phone_number 	= _this.form.phone_number;
				my_params.email 		= _this.form.email;
				my_params.password 		= _this.form.password;

			}
			_this.axios.post(
				my_url,
				my_params,
				my_options
            ).then((response) => {
            	/*TODO*/
          		if( _this.form.type == 1 ){
					_this.notify(
		              	_this.$i18n.t('message'),
		              	_this.$i18n.t('login_successfully'),
		              	'error'
		            ); 
          		}else{
					_this.notify(
		              	_this.$i18n.t('message'),
		              	_this.$i18n.t('register_successfully'),
		              	'error'
		            ); 
          		}
			})
			.catch(function (err) {
    			// handle error
          		//console.log(err);
          		//console.log(err.response); 
          		if( _this.form.type == 1 ){
					_this.notify(
		              	_this.$i18n.t('message'),
		              	_this.$i18n.t('login_error'),
		              	'error'
		            ); 
          		}else{
					_this.notify(
		              	_this.$i18n.t('message'),
		              	_this.$i18n.t('register_error'),
		              	'error'
		            ); 
          		}
 	 		})
		}, 
		fbCheck:function(evt){
			let my_headers = {};
			this.axios.post(
				this.fb_app_server_url_token_validation,{
					/*body*/
					fb:(evt.response ? evt.response : evt),
				},{
					headers:my_headers
            	}
            ).then((response) => {
            	/*TODO*/
			})
			.catch(function (err) {
    			// handle error
          		//console.log(err);
          		//console.log(err.response); 
 	 		})
		},
		fbLogin(evt){
			console.log(evt);
			this.fbCheck(evt);
		},
		fbLogout(evt){
			console.log(evt);
		},
		fbGetUserData(evt){
			console.log(evt);
			this.fbCheck(evt);
		},
		onGoogleSuccess(evt){
			console.log(evt);
		},
		onGoogleFailure(evt){
			console.log(evt);
		},
	},
	watch:{

	},
	props:{ 
		prevent_text_collapse:{
			type:Boolean,
			default:true,
		},
		csrf_token:{
			type:String,
			default:false,
		}
	}
}
</script>
<style type="text/css" scoped lang="scss"> 
.btns{
	display: inline-block;
	margin-top: 10px;
	&:nth-child(1){
		color:#626b6f;
	}
	&:nth-child(2){
		color:#626b6f;
	}
} 
header{
	&#top-header{
		&.header-collapse{
			.btns-actions{
				width: auto;
    			position: relative;
    			display: inline-block;
				.btns{
					margin-top: 0px;
					span{
						display: none;
					}
				}
			}
		}
	}
}
@media(max-width: 830px){
	.btns{
		&:not(.prevent_text_collapse)>span{
			display: none;
		}
	}
}
.form1{
    margin: 2px auto;
    display: block;
    position: relative;
    max-width: 321px; 
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    >div{
    	&:nth-child(1){ 
		    padding: 20px 12px;
		}
    	&:nth-child(2){ 
		    padding: 4px 0px;
		    position: relative;
		    hr{
				margin-top: 1px;
				margin-bottom: 1px;
			}
			label{
			    position: absolute;
			    width: 33px;
			    text-align: center;
			    top: -7px;
			    left: 0;
			    font-size: 15px;
			    color: #777777;
			    background: white;
			    margin-left: 43%;
			}
		}
    	&:nth-child(3){ 
		    padding: 20px 12px;
		}
    }
}     
.fb-login{

	margin-bottom: 5px;
}
.abcRioButtonLightBlue {
    background-color: #fff;
    color: #757575;
}
.abcRioButtonContentWrapper {
	height: 100%;
    width: 100%;
    background: #FFFFFF;
    color: #777777;
    outline: 0;
    -webkit-appearance: button-bevel;
    border-radius: 5px;
    box-shadow: 0px 2px 2px 0px #e2dcdc;
	padding-bottom: 0px;
	padding-top: 0px;
	margin-bottom: 5px;
}
.abcRioButton {
    -webkit-border-radius: 1px;
    border-radius: 1px;
    -webkit-box-shadow: 0 2px 4px 0px rgba(0,0,0,.25);
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.25);
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: background-color .218s,border-color .218s,box-shadow .218s;
    transition: background-color .218s,border-color .218s,box-shadow .218s;
    -webkit-user-select: none;
    -webkit-appearance: none;
    background-color: #fff;
    background-image: none;
    color: #262626;
    cursor: pointer;
    outline: none;
    overflow: hidden;
    position: relative;
    text-align: center;
    vertical-align: middle;
    white-space: nowrap;
    width: auto;
}
.abcRioButtonIcon {
    float: left;
} 
.abcRioButtonContents {
    font-family: Roboto,arial,sans-serif;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: .21px;
    margin-left: 6px;
    margin-right: 6px;
    vertical-align: top;
}
.form-login{
	width:100%;
}
.github-login{
	background: #221d20;
	padding:6px 10px; 
	margin-bottom: 5px;
	border-radius: 5px;
	font-size:13px;
	text-align: left;
}
.github-login-cc a{
	color:white;
	text-decoration: none;
}
.github-login img{
	max-width: 21px;
    margin-right: 8px;
    margin-left: 4px;
}
</style>