<template>
	<div> 
        <ul>
            <li @click='shareFB'>
                <i class="fab fa-facebook-f"> 

                </i>
            </li>
            <li @click='shareTW'>
                <i class="fab fa-twitter"></i>
            </li>
            <li @click='shareP'>
                <i class="fab fa-pinterest-p"></i>
            </li>
        </ul>
    </div>
</template>
<script type="text/javascript">
	export default{
        data(){
            return {

            };
        },
        mounted(){

        },
        methods:{   
            shareFB(){
                FB.ui({
                    method: 'share',
                    href: this.href,
                });
            },
            shareTW(){
                window.open('https://twitter.com/intent/tweet?text='+this.desc+' '+this.href, 'Twitter','toolbar=0,status=0,scrollbars=no,resizable=no,top=100,left=500,width=580,height=325').focus();
            },
            shareP(){
                console.log("image_src",this.image_src);
                let _open = 
                    'http://www.pinterest.com/pin/create/button/?media='+
                    window.encodeURI(this.image_src)+
                    '&url='+this.href
                ;
                console.log('open '+_open);
                window.open(_open, 
                    'Pinterest',
                    'toolbar=0,status=0,scrollbars=no,resizable=no,top=100,left=500,width=580,height=500').focus();
            },
        },
        watch:{

        },
        props:{
            href:{
                type:String,
                default:'',
            },
            desc:{
                type:String,
                default:'',
            },
            image_src:{
                type:String,
                default:'',
            },
        }
    }
</script>
<style type="text/css" lang="scss" scoped>
	ul{
		list-style: none;
		align-items: center;
        padding-left: 0px;
		li{
			display: inline;
			padding-right: 10px;
            cursor: pointer;
		}
	}
</style>